* {
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体",
    "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

$Roboto: "Roboto Slab", serif;
$Yugothic: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体",
  "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;

// weight

$bold: 700;
